html body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

.content {
  margin: 10px 0 10px 300px;
  border: none;
  border-radius: 20px;
  width: 60%;
  background: rgba(153, 148, 148, 0.4);
}

body {
  width: 100%;
  height: 100%;
  background: #3b3b3b;
  font-family: "Gloria Hallelujah", cursive;
}

#title {
  font-size: 4em;
  text-align: center;
  color: blanchedalmond;
}

.itemContainer {
  margin: 15px auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.itemContainer:hover {
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.itemContainer:active {
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.item {
  font-size: 25px;
  font-family: "Gloria Hallelujah", cursive;
  margin: 5px 0 5px 15px;
  color: blanchedalmond;
}

.btn {
  background-color: transparent;
  font-family: "Concert One", cursive;
  line-height: 70px;
  width: 160px;
  height: 70px;
  margin: 25px 25px 25px 0;
  font-size: 35px;
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  color: blanchedalmond;
}

.btn:hover {
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn:active {
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.active {
  color: #3a3a3a;
}

#sideNav {
  border: none;
  background: rgba(153, 148, 148, 0.4);
  border-radius: 20px;
  height: 80%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  text-align: center;
  color: blanchedalmond;
}

.infoNav {
  height: 100%;
  width: 270px;
  position: fixed;
  top: 0;
  right: -290px;
  background-color: rgba(153, 148, 148, 0.4);
  overflow-x: hidden;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding: 20px 10px 0 10px;
  text-align: center;
  color: blanchedalmond;
}

.infoNav h3 h4 {
  color: blanchedalmond;
  display: inline-block;
}

.infoNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .infoNav {
    padding-top: 15px;
  }
  .infoNav a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */