$fontGloria: 'Gloria Hallelujah',
cursive;
$fontConcert: 'Concert One',
cursive;
$fullSize: 100%;

html body {
    max-width: $fullSize;
    max-height: $fullSize;
    overflow-x: hidden;
}

body {
    width: $fullSize;
    height: $fullSize;
    background: #74ebd5;
    /* fallback for old browsers */
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: $fontGloria;
}

#title {
    font-size: 4em;
    text-align: center;
}

.itemContainer {
    margin: 10px 0 10px 190px;
    border: none;
    background-color: transparent;
    width: 75%;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
}

.itemContainer:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.itemContainer:active {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.50), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(4px);
}

.item {
    font-size: 25px;
    font-family: $fontGloria;
    margin: 5px 0 5px 15px;
}

.btn {
    background-color: transparent;
    font-family: $fontConcert;
    line-height: 70px;
    width: 160px;
    height: 70px;
    margin: 25px 25px 25px 0;
    font-size: 35px;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn:active {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.50), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(4px);
}

.active {
    color: white;
}

#sideNav {
    height: $fullSize;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;
    text-align: center;
}

.infoNav {
    height: $fullSize;
    width: 270px;
    position: fixed;
    top: 0;
    right: -290px;
    background-color: rgba(125, 208, 233, 0.5);
    overflow-x: hidden;
    transition: 0.7s;
    padding: 20px 10px 0 10px;
    text-align: center;

    h3 h4 {
        color: white;
        display: inline-block;
    }
}

.infoNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.7s;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
    .infoNav {
        padding-top: 15px;
    }

    .infoNav a {
        font-size: 18px;
    }
}